<h1>Directives</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <span [hidden]="hideParagraph">nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
</p>
<a href="#" (click)="showParagraph($event)" *ngIf="hideParagraph === true">Mostra tutto</a>
<hr>
<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th></th>
      <th>Band</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records" [ngClass]="{'active': record.selected}">
      <td><input type="checkbox" [(ngModel)]="record.selected"></td>
      <td>{{ record.band }}</td>
      <td>{{ record.title }}</td>
      <td><button type="button" (click)="removeRecord(record)">Elimina</button></td>
    </tr>
  </tbody>
</table>
<h5>Add record</h5>
<input type="text" placeholder="Band..." [(ngModel)]="newRecord.band">
<input type="text" placeholder="Title..." [(ngModel)]="newRecord.title">
<button type="submit" (click)="addRecord()" [disabled]="validateForm()">Add</button>
<button type="button" (click)="removeSelected()">Elimina selezionati</button>

<p>{{ records | json }}</p>
<hr>
<h5>Tabbed Content with ngSwitch</h5>
<div class="tabbed">
  <div class="navigator">
    <a href="#" (click)="setTabIndex($event, 1)" [ngClass]="{'active': tabIndex === 1}">Title 1</a>
    <a href="#" (click)="setTabIndex($event, 2)" [ngClass]="{'active': tabIndex === 2}">Title 2</a>
    <a href="#" (click)="setTabIndex($event, 3)" [ngClass]="{'active': tabIndex === 3}">Title 3</a>
  </div>
  <div class="tabbed-body" [ngSwitch]="tabIndex">
    <div *ngSwitchCase="1">Content Body 1</div>
    <div *ngSwitchCase="2">Content Body 2</div>
    <div *ngSwitchCase="3">Content Body 3</div>
    <div *ngSwitchDefault>Select an item</div>
  </div>
</div>
